{% import "bootstrap/wtf.html" as wtf %} {% extends "base.html" %} {% block title %}Assign Employee{% endblock %} {% block body %}
<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="center">
                    <h1> Assign Departments, Roles and Salary </h1>
                    <br/>
                    <p>
                        Select a department, role and salary to assign to
                        <span style="color: #007ee5;">
                    {{ employee.first_name }} {{ employee.last_name }}
                </span>
                    </p>
                    <br/> <form method="POST">
                        {{ form.hidden_tag() }}
                      
                        <div class="form-group">
                          {{ form.department.label }}
                          {{ form.department(class="form-control") }}
                        </div>
                      
                        <div class="form-group">
                          {{ form.role.label }}
                          {{ form.role(class="form-control") }}
                        </div>
                      
                        <div class="form-group">
                          {{ form.grade.label }}
                          {{ form.grade(class="form-control") }}
                        </div>
                      
                        <div class="form-group">
                          {{ form.submit(class="btn btn-primary") }}
                        </div>
                      </form>
                      
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}